// 颜色定义规范
$color-background = #ffffff
$color-background-d = #ffffff
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #31c27c
$color-theme-d =  #dddddd
$color-sub-theme =  #dddddd
$color-text = #dddddd
$color-text-d = #dddddd
$color-text-l = #dddddd
$color-text-ll = #dddddd

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px